a:link,
a:visited {
  color: #156c94;
}
a:hover {
  color: #00c1ff;
}
ul li {
  background: url(business_ul_li.gif) no-repeat 0 4px;
}

div.moduletable-ver3 ul li,
div.moduletable-ver3c ul li {
  background: url(business_ul_li-1.gif) no-repeat 0 5px;
}
div.moduletable-ver2 ul li,
div.moduletable-ver2c ul li {
  background: url(business_ul_li-2.gif) no-repeat 0 5px;
}
a.logo {
  background: transparent url(business_logo.png) no-repeat 0 0;
}
a#icon-shop {
  background: transparent url(business_icon-shop.png) no-repeat 0 0;
}
a#icon-sitemap {
  background: transparent url(business_icon-sitemap.png) no-repeat 0 0;
}
a#icon-tools {
  background: transparent url(business_icon-tools.png) no-repeat 0 0;
}
div#memberwrap {
  background-color: #313131;
}
div#memberarea {
  position: absolute;
  background: url(business_member_login.png) no-repeat 0 3px;
  color: #fff;
}
div#memberarea form input.button,
div#searcharea form input.button {
  background: #156c94;
  border: 1px solid #156c94;
  color: #fff;
}
div#memberarea form input.button:hover,
div#searcharea form input.button:hover {
  background: #1e81ae;
  border: 1px solid #1e81ae;
  color: #fff;
}
ul.loginposition {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.loginposition li {
  background: 0 0;
  margin: 0;
  padding: 0 12px 0 0;
  float: left;
}
div#searcharea form input.button {
  color: #fff;
}
div#searcharea input.inputbox {
  background: #fff url(business_icon-search.png) no-repeat 100% 50%;
}
div#menuwrap {
  background: url(business_menu_bg.png) repeat-x 0 0;
}
div.moduletable,
div.moduletable-advert,
div.moduletable-slider,
div.moduletable-ver1c,
div.moduletable-ver2,
div.moduletable-ver2c,
div.moduletable-ver3,
div.moduletable-ver3c {
  background: #fff url(business_moduletable-bg.gif) repeat-x 0 0;
  border: 1px solid #d8d7d7;
  color: #000;
}
div.moduletable h3,
div.moduletable-slider h3,
div.moduletable-ver1c h3,
div.moduletable-ver2 h3,
div.moduletable-ver2c h3,
div.moduletable-ver3 h3,
div.moduletable-ver3c h3 {
  color: #000;
}
div.moduletable-advert {
  background: 0 0;
}
div.moduletable-advert h3 {
  color: #c5c4c4;
  background-color: #fff;
}
div.moduletable-slider {
  background: 0 0;
  border: none;
}
div.moduletable-ver1c h3 {
  color: #156c94;
}
div.moduletable-ver2,
div.moduletable-ver2c {
  background: 0 0;
  background-color: #313131;
  color: #fff;
}
div.moduletable-ver2 a {
  color: #fff;
}
div.moduletable-ver2 a:hover {
  color: #156c94;
}
div.moduletable-ver2c a {
  color: #188bc7;
}
div.moduletable-ver2c a:hover {
  color: #fff;
}
div.moduletable-ver2 h3 {
  color: #fff;
}
div.moduletable-ver2c h3 {
  color: #188bc7;
}
div.moduletable-ver3,
div.moduletable-ver3c {
  background: 0 0;
  background-color: #156c94;
  color: #fff;
}
div.moduletable-ver3 a {
  color: #fff;
}
div.moduletable-ver3 a:hover {
  color: #313131;
}
div.moduletable-ver3c a {
  color: #000;
}
div.moduletable-ver3c a:hover {
  color: #fff;
}
div.moduletable-ver3 h3 {
  color: #fff;
}
div.moduletable-ver3c h3 {
  color: #000;
}
div.moduletable-ver2 a.readon,
div.moduletable-ver2c a.readon {
  background: url(business_button_readon-2.gif) no-repeat 0 0;
  color: #fff;
}
div.moduletable-ver2 a:hover.readon {
  color: #156c94;
}
div.moduletable-ver2c a.readon {
  color: #188bc7;
}
div.moduletable-ver2c a:hover.readon {
  color: #fff;
}
div.moduletable-ver3 a.readon,
div.moduletable-ver3c a.readon {
  background: url(business_button_readon-1.gif) no-repeat 0 0;
  color: #fff;
}
div.moduletable-ver3 a:hover.readon {
  color: #313131;
}
div.moduletable-ver3c a.readon {
  color: #000;
}
div.moduletable-ver3c a:hover.readon {
  color: #fff;
}
a.readon {
  background: url(business_button_readon.gif) no-repeat 0 0;
  color: #156c94;
}
.contentheading {
  color: #156c94;
}
.contentheading a:link,
.contentheading a:visited {
  color: #156c94;
  text-decoration: none;
}
.contentheading a:hover {
  color: #1e81ae;
}
.createdate,
.modifydate,
.mosimage_caption,
.small {
  color: #313131;
}
.smalldark {
  color: #313131;
  text-align: left;
}
table.contenttoc {
  border-left: 1px solid #d8d7d7;
  color: #000;
}
table.contenttoc td {
  color: #000;
}
table.contenttoc th {
  color: #156c94;
}
.sectiontableheader {
  border-bottom: 1px solid #313131;
  border-top: 1px solid #313131;
  color: #fff;
  background-color: #313131;
}
td.sectiontableentry1,
td.sectiontableentry2,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  border-bottom: 1px solid #bbb;
}
td.sectiontableentry1,
tr.sectiontableentry1 td {
  background-color: #e5e4e4;
}
td.sectiontableentry2,
tr.sectiontableentry2 td {
  background-color: #fcfcfc;
}
tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
  background-color: #effaff;
}
.highlight {
  background-color: #ff9;
}
input.button {
  background-color: #156c94;
  border: 1px solid #156c94;
  color: #fff;
}
input.button:hover {
  background-color: #1e81ae;
}
#nav a {
  color: #555;
}
#nav li a {
  background: url(business_menu_bg.png) no-repeat 100% 0;
}
#nav li li {
  background: 0 0;
  border-bottom: 1px solid #403f3f;
}
#nav li li a {
  background: 0 0;
  color: #939393;
}
#nav li.sfhover,
#nav li:hover {
  left: 0;
  background-color: #156c94;
}
#nav li.active {
  background-color: #156c94;
}
#nav li.sfhover,
#nav li:hover {
  background-color: #156c94;
}
#nav li.sfhover a,
#nav li:hover a {
  color: #fff;
}
#nav ul li ul li a:hover {
  background: 0 0;
}
#nav ul li a:hover,
#nav ul li ul li ul li a:hover {
  color: #fff;
}
#nav li li.sfhover a,
#nav li li:hover a {
  color: #fff;
}
#nav li li.sfhover a:hover,
#nav li li:hover a:hover {
  color: #fff;
}
#nav li ul {
  border-top: 1px solid #fff;
}
#nav li.active {
  background-color: #156c94;
}
#nav li.active a {
  color: #fff;
}
#nav li li li li.sfhover ul,
#nav li li li li:hover ul,
#nav li li li.sfhover ul,
#nav li li li:hover ul,
#nav li li.sfhover ul,
#nav li li:hover ul,
#nav li.sfhover ul,
#nav li:hover ul {
  background: #313131;
}
#nav ul ul a {
  background: 0 0;
  color: #fff;
}
#nav li li.active {
  background: 0 0;
}
#slider_area {
  border: 1px solid #bdbdbd;
}
#slider_knob {
  background-color: #156c94;
}
a#area-slider-load {
  background: url(area-slider-loader.gif) no-repeat 0 0;
}
a#area-slider-left {
  background: url(business_button-left.gif) no-repeat 0 0;
}
a#area-slider-right {
  background: url(business_button-right.gif) no-repeat 0 0;
}
table#userdownwrap {
  background-color: #313131;
  border: 1px solid #d8d7d7;
  color: #000;
}
td.downuser div.moduletable,
td.downuser div.moduletable-ver2,
td.downuser div.moduletable-ver2c,
td.downuser div.moduletable-ver3,
td.downuser div.moduletable-ver3c,
td.downuserp div.moduletable-ver1c {
  color: silver;
  background: 0 0;
  border: none;
  padding: 15px 15px 15px 15px;
}
td.downuser div.moduletable h3,
td.downuser div.moduletable-ver2 h3,
td.downuser div.moduletable-ver2c h3,
td.downuser div.moduletable-ver3 h3,
td.downuser div.moduletable-ver3c h3,
td.downuserp div.moduletable-ver1c h3 {
  color: #188bc7;
  background: 0 0;
  border: none;
  font-size: 13px;
  margin: -6px 0 5px 0;
}
td.downuser div.moduletable a.readon,
td.downuser div.moduletable-ver2 a.readon,
td.downuser div.moduletable-ver2c a.readon,
td.downuser div.moduletable-ver3 a.readon,
td.downuser div.moduletable-ver3c a.readon,
td.downuserp div.moduletable-ver1c a.readon {
  background: url(business_button_readon-2.gif) no-repeat 0 0;
  color: silver;
}
.spacer {
  background: url(bussines_spacer.gif) no-repeat left 19px;
}
td#footer {
  background-color: #313131;
  border-top: 1px solid #585858;
}
td#footer span {
  color: silver;
}
td#footer span a {
  color: silver;
}
span.color {
  background-color: #156c94;
  border: 1px solid #1e81ae;
  color: #fff;
}
span.color-1 {
  background-color: #effaff;
  border-left: 4px solid #156c94;
  color: #156c94;
}
