input.com-system-openid,
input.system-openid {
  background: url(login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
.system-unpublished {
  background: #e8edf1;
  border-top: 4px solid #c4d3df;
  border-bottom: 4px solid #c4d3df;
}
#system-message {
  margin-bottom: 10px;
  padding: 0;
}
#system-message dt {
  font-weight: 700;
}
#system-message dd {
  margin: 0;
  font-weight: 700;
  text-indent: 30px;
}
#system-message dd ul {
  color: #05b;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84a7db;
  border-bottom: 3px solid #84a7db;
}
#system-message dt.message {
  display: none;
}
#system-message dt.error {
  display: none;
}
#system-message dd.error ul {
  color: #c00;
  background-color: #e6c0c0;
  border-top: 3px solid #de7a7b;
  border-bottom: 3px solid #de7a7b;
}
#system-message dt.notice {
  display: none;
}
#system-message dd.notice ul {
  color: #c00;
  background: #efe7b8;
  border-top: 3px solid #f0dc7e;
  border-bottom: 3px solid #f0dc7e;
}
#system-debug {
  color: #ccc;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
}
#system-debug div {
  font-size: 11px;
}
